<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.url }}"> <span class="arrow">←</span> Home </a>
		
    {% endif %}
	
	{% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.url }}/about">About </a>
        {% endif %}
    {% endif %}
	
	{% if page.url != "/archive.html" %}
        <a href="{{ site.url }}/archive.html">Archive</a>
    {% endif %}

    
	    <a class="cta" href="{{ site.url }}/feed.xml">Subscribe</a>
</nav>
